
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');
.container{
    position: static;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: min-content;
    border: none;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 2.5px 5px #ddd;
    display: block;
    
}
body{
    /*background-image: linear-gradient(to bottom right, #ee82ee, #ff0000);*/
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
}
select{
    border: none;
    border-radius: 5px;
}
.block {
	width: 100%;
	height: 100px;
	background:url('./ico.png') #eee no-repeat center center;
	background-size:250px;
	display: block;
}
.block + .container
{
    margin-top: 40px;
}
#map {
    height: 690px;
    
  }

  html,
  body {
    height: 100%;
  }
  p+select{
      margin-top: 10px;
  }
  p{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    
}
select+div{
    margin-top: 10px;
    border: #ddd 1px;
    outline:none;
}
option
{
    border-radius: 10px;
    padding: 10px;
}